.App {
  text-align: center;
  height: 70vh;
  width: 40vw;
  border: 2px solid black;
  border-radius: 20%;
  margin: auto;
  margin-top: 4rem;
  background-color: brown;
  overflow-wrap: break-word;
}

p {
  font-size: larger;
  font-weight: 900;
  background-color: black;
  width: auto;
  color: grey;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.result {
  margin-top: 2rem;
}

.count,
.false {
  background-color: #4CAF50;
  /* Green */
  /* border: none; */
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;

}

.start,
.restart {
  background-color: black;
  /* Green */
  /* border: none; */
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;

}

.count:hover,
.false:hover {
  background-color: fff;
  /* Green */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}